/*  */
*{
  box-sizing: border-box;
}

Nav{
  font-size:25px;
}
.navbar-brand{
  font-size: 35px;
}
.form-control,.me-2{
  width: 300px;
  font-size: 25px;
}
.btn{
  width: 100px;
  font-size: 25px;
}
.container{
  margin-top: 10px;
  padding: 10px;
  
}
h2{
  font-weight: 800;
}
textarea{
  font-size: 25px;
  padding: 10px;
}
p{
  font-size: 25px;
}
#length{
  font-size: 18px;
}
.btn-large{
  width: 150px;

}
.alertmsg{
  position:relative;
  margin-bottom: 0px;
  font-size: larger;
  border-radius: 0px;
}
.alertmsg{
  z-index: -1;
}
a{
  text-decoration: none;
  color: black;
}